.Intro_parent {
    margin-top: 60px;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Intro_children {
    width: 80%;
    display: flex;
    /* height: 100%; */
}
.Intro_children div {
    flex: 1;
    height: 100%;
}
.Intro_left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.Intro_right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Intro_right img {
    height: 50vh;
    /* width: 220px; */
    border: 1px solid gray;
    padding: 3px;
    border-radius: 8px;
}
.Intro_Resume {
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #4070f4;
    border: 1px solid transparent;
}
.Intro_Resume:hover {
    border-color: #4070f4;
    background: whitesmoke;
    color: #4070f4;
}
.Intro_Resume i {
    font-size: 20px;
    margin-left: 5px;
}
.Intro_desc {
    font-size: 3.5vw;
    font-weight: 600;
    letter-spacing: -1px;
}
.Intro_myName {
    color: white;
    /* padding: 0px 5px; */
    position: relative;
    -webkit-text-stroke: 0.1vw #4070f4;
    text-transform: uppercase;
    z-index: 0;
    font-size: 3vw;
    white-space: nowrap;
}
.Intro_myName::before
{
    content: "Yashasvi\00a0Srivastava";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #4070f4;
    -webkit-text-stroke: 0vw #4070f4;
    border-right: 2px solid #4070f4;
    overflow: hidden;
    animation: animate 6s linear infinite;
    z-index: 3;
}
@keyframes animate {
    0%, 10%, 100% {
        width: 0%;
    }
    70%, 90% {
        width: 100%;
    }
}
.Intro_socialLinks {
    display: flex;
    gap: 30px;
}
.Intro_socialLinks i {
    font-size: 30px;
    cursor: pointer;
    color: rgb(78, 78, 78);
    transition: transform 0.8s;
}
.Intro_socialLinks i:hover {
    color: #4070f4;
    transform: scale(1.1);
}