.Nav_parent {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #363062;
}
/* @keyframes color {
    0% {
        background-position-x: -100px;
    }
    100% {
        background-position-x: 100px;
    }
} */
.Nav_parent div {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}
.Nav_listWrapper {
    list-style: none;
    display: flex;
    gap: 20px;
    height: 100%;
}
.Nav_list {
    font-weight: 500;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    border-color: transparent;
    cursor: pointer;
}
.Nav_list a {
    text-decoration: none;
    color: #E9D5DA;
}
.Nav_list a:hover {
    color: white;
}
/* .N */
.Nav_right img {
    height: 65%;
}