.container {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
.parent {
    font-size: 6vw;
    color: black;
}
.upperLine {
    text-align: center;
    font-weight: 700;
    padding-left: 100px;
}
.lowerLine {
    text-align: center;
    margin-top: -50px;
    color: black;
    padding-right: 100px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
