body.loading {
   overflow: hidden;
   height: 100vh;
   background-color: #eee;
}

.loader {
   .loader-inner {
      .transition-image {
         position: absolute;
         left: 33%;
         top: 20%;
         z-index: 5;
      }
      .image-block {
         position: absolute;
         transform-origin: center;
         display: flex;
         align-items: center;
         justify-content: center;
         &.image-1 {
            width: 300px;
            left: 15%;
            bottom: 10%;
         }
         &.image-3 {
            width: 300px;
            right: 3%;
            top: 8%;
         }
         &.image-4 {
            max-width: 400px;
            width: 25%;
            right: 10%;
            bottom: 10%;
            z-index: 6;
         }
         &.image-5 {
            width: 280px;
            left: 12%;
            top: 12%;
         }
         img {
            width: 100%;
            object-fit: fill;
         }
      }
   }
}

.main-image {
   width: 600px;
   position: absolute;
   left: 33%;
   top: 20%;
   z-index: 5;
}
